.logo-jumbotron {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 1em;
    margin-top: 1em;
}

.logo-jumbotron .logo-image,
.logo-jumbotron .logo-words {
    width: 50%;
}

.logo-jumbotron .logo-image img {
    width: 100%;
}

.logo-words,
.logo-word {
    display: flex;
}

.logo-words {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.logo-word {
    margin-top: .2em;
    justify-content: space-around;
}

.logo-title {
    width: 100%;
}

.logo-year {
    width: 66%;
}

.logo-title .logo-letter {
    width: 14%;
    padding: 7% 0;
}

.logo-year .logo-letter {
    width: 21%;
    padding: 10.5% 0;
}

.logo-letter {
    line-height: 0px;
    font-weight: bold;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-letter {
    font-size: 110%;
}

@media (min-width: 600px) {

    .logo-jumbotron .logo-image,
    .logo-jumbotron .logo-words {
        width: 60%;
    }

    .logo-jumbotron .logo-words,
    .logo-word {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }

    .logo-title {
        width: 57%;
    }

    .logo-year {
        width: 37%;
    }
}

@media (min-width: 768px) {

    .logo-jumbotron .logo-image,
    .logo-jumbotron .logo-words {
        width: 55%;
    }

    .logo-letter {
        font-size: 120%;
    }
}

/* DESKTOP VERSION */
@media only screen and (min-width: 992px) {
    .logo-letter {
        font-size: 150%;
    }
}

@media (min-width: 1250px) {

    .logo-jumbotron .logo-image,
    .logo-jumbotron .logo-words {
        width: 45%;
    }

}



.logo_blue_bg {
    background-color: #101078;
}

.logo_sky_bg {
    background-color: #4b9bbb;
}

.logo_gray_bg {
    background-color: #808183;
}

.logo_red_bg {
    background-color: #db473a;
}

.logo_green_bg {
    background-color: #409147;
}